---
layout: default
---

<article class="max-w-5xl mx-auto">
  <header class="mb-14">
    <h1 class="text-3xl text-center font-bold leading-normal text-slate-900 mt-0 mb-3">{{ title }}</h1>
    <div class="text-center">Published on {{ page.date | readableDate }}</div>
    {% if tags %}
    <div class="mt-3 text-center">
      {% for tag in tags %}
      <a href="{{ '/tags/' | url }}{{ tag }}" aria-label="Link to post with tag {{ tag }}"
        class="inline-block mx-1 mb-3 px-4 py-2 bg-primary-900 text-accent-500  font-medium rounded-sm">
        #{{ tag | capitalize }}
      </a>
      {% endfor %}
    </div>




    {% endif %}
    {% if thumb %}
    <div class="mt-10 mx-7 md:mx-0">
      <img class="w-full max-w-2xl mx-auto" src="{{ thumb | url }}" width="960" height="500"
        alt="Thumbnail image for the post: {{ title }}">
    </div>
    {% endif %}
  </header>
  <div id="content" class="prose text-slate-800 max-w-none">
    {{ content | safe }}
  </div>
  {% if site.disqusShortname %}
  <div class="mt-10">
    {% if process.environment === "production" %}
    {% include "partials/disqus.njk" %}
    {% else %}
    <div class="italic text-slate-700">Disqus comments only available for production</div>
    {% endif %}
  </div>
  {% endif %}
</article>
