---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
title: Latest Articles
subTitle: All the latest article from DevDigest
---


    {%include "partials/title.njk" %}
    {% include "partials/post-grid.njk" %}

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}