---
layout: default
eleventyExcludeFromCollections: true
pagination:
    data: collections.pagedPostsByTag
    size: 1
    alias: paged
permalink: "tags/{{ paged.tagName }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
eleventyComputed:
    title: "Tagged with \"{{ paged.tagName | capitalize }}\""
    subTitle: "All articles tagged with \"{{ paged.tagName | capitalize }}\" "
---

    {%include "partials/title.njk" %}
    {% include "partials/post-grid.njk" %}

{% if collections.tagList[paged.tagName] > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}