<footer class="py-4 sticky bottom-0 w-full bg-primary-400">
    <div class="max-w-5xl mx-auto text-slate-700 text-center">
        © 2020 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a>. 
    </div>
</footer>