<footer class="py-4 bottom-0 w-full  bg-primary-600">
    <div class="max-w-5xl mx-auto text-accent-600 text-center">
        <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener" aria-label="Link to {{site.title}} home">{{ site.title }}</a>. 
    </div>
</footer>