<div class="items-center border-green-400 w-full">
  <header class="py-4 sm:text-center items-center">
    <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-secondary-600 font-extrabold">
      {{ title | capitalize }}
    </h1>
    <p class="text-lg text-secondary-600">
      {{ subTitle | capitalize }}
    </p>
  </header>
</div>
